.institution-main {
    display: flex;
    padding: 2rem;
    background-color: #f9fafb;
    padding-top: 150px;
  }
  
  .institution-content {
    flex: 1;
    margin-right: 2rem;
  }
  
  
  .search-register-bar {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.5rem;
  }
  
  .search-input {
    width: 70%;
    padding: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
  }
  
  .register-button {
    background-color: #2563eb;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .institution-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  
  .institution-card {
    background-color: #2563eb;
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0,0,0,0.05);
    height: 300px; /* aumenta a altura */
    display: flex;
    flex-direction: column;
  }
  
  .card-image {
    background-color: #ddd;
    height: 300px;
  }
  
  .card-info {
    padding: 1rem;
  }
  